:root {
  --menu-aktiv: #2196f3;
  --menu-standart: #212121;
  --osn-color: #757575;
  --belyi: #ffffff;
  --zag-h-ty: #212121;
}
a {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--osn-color);
}
ul {
  list-style: none;
}

/* хедер, верхнее меню */
.nav {
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo:hover,
.logo:focus,
.logo:visited {
  color: var(--menu-standart);
}
.logo-color-add {
  color: var(--menu-aktiv);
}
.header-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--menu-standart);
  cursor: pointer;
}
.header-links:visited {
  color: var(--menu-standart);
}
.header-links:hover,
.header-links:focus {
  color: var(--menu-aktiv);
}
.header-buttons {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--osn-color);
}
.header-buttons:hover,
.header-buttons:focus {
  color: var(--menu-aktiv);
}

/* банер */

.banner {
  background: #2f303a;
  color: var(--belyi);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.banner-button {
  background-color: var(--menu-aktiv);
  color: var(--belyi);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* наши преимущиства */

.benefits {
}
.benefits-heading {
  color: var(--zag-h-ty);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.benefits-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* чем мы занимаемся */

.activity {
  color: var(--zag-h-ty);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.activity-list-b {
  color: var(--zag-h-ty);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.activity-list {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address {
  color: var(--belyi);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-links {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-links:hover,
.footer-links:focus {
  color: var(--menu-aktiv);
}
/* партфолио радио кнопки */
.radio-button {
  background-color: var(--belyi);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--zag-h-ty);
  cursor: pointer;
}
.radio-button:hover,
.radio-button:focus {
  background-color: var(--menu-aktiv);
}
/* портфолио наши работы */
.raboti-h {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--zag-h-ty);
}
.raboti-p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
